@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

#drawing {
    background-color: lightgrey;
}

.var {
    color: #c82333;
    font-weight: bold;
}
