@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

.contents {
    background-color: #dddddd;
    display: block;
}

.header {
    background-color: #ff5454;
    display: block;
}

.section {
    background-color: #bbbbbb;
    display: block;
  }

.section-title {
    background-color: #4a60ff;
    display: block;
}

.section-space {
    background-color: #999999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    background-color: #777777;
    width: 292px;
    height: 365px;
    margin: 8px;
}
