@charset "UTF-8";

* {
    /* Text */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

/* Default: Mobile phones
 * RWD
 */
body {
    background-color: #dfdfdf;
    margin: 8pt;
}


h1 {
    /* Box */
    background-color: #aaaaaa;
    padding: 4pt;
    margin-bottom: 8pt;

    /* Text */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20pt;
}

.layout {
    display: flex;
    flex-direction: column;
}

.menu {
    /* Box */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 4pt;
    margin-bottom: 8pt;
    border-bottom: 1px solid #505050;

    /* Text */
    text-align: center;
}

.link {
    /* Box */
    padding: 4pt 0;

    /* Text */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14pt;
    color: #000;
}

.contents {
    /* Box */
    width: 100%;
}


h2 {
    /* Box */
    margin-bottom: 4pt;

    /* Text */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
}

.subtitle {
    /* Box */
    margin-bottom: 8pt;

    /* Text */
    font-size: 10pt;
    color: #505050;
}

.summary {
    /* Box */
    margin-bottom: 16pt;

    /* Text */
    font-size: 12pt;
    text-align: justify;
}


/* Desktop
 * RWD
 */
@media only screen
       and (min-width: 768px)
       and (min-aspect-ratio: 1/1)
{
    .menu {
        /* Box */
        width: fit-content;
        border-bottom: none;
        margin-right: 8pt;

        /* Text */
        text-align: left;
    }

    .layout {
        flex-direction: row;
    }
}