@charset "UTF-8";

/* Portrait */
@media screen and (max-aspect-ratio: 3/2) {
    #main-bg {
        height: 100%;
        width: auto;

        top: auto;
        left: 20%;
        transform: translate(-20%, 0%);
    }
}


/* Small width (mobile phones) */
@media screen and (max-width: 700px) {
    .idcard {
        max-width: 100%;
    }
}
