@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #ffffff;
}

.add-person {
    /* Display form in one line */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.field {
    font-size: 14pt;
    padding: 6pt 12pt;
    margin: 4pt;
}

input {
    color: #000;
}

.button {
    /* box */
    background-color: #cacaca;
    border: 1px solid #1c1c1c;
    padding: 6pt 12pt;
    margin: 4pt;
    cursor: pointer;

    /* text */
    color: #1c1c1c;
    font-size: 14pt;
    text-decoration: none;
}

.button:hover,
.button:focus {
    background-color: #aaaaaa;
    border-color: transparent;
}

#list {
    font-size: 12pt;
    padding: 12pt;
    color: #ffffff;
    background-color: #404040;
}
