@charset "UTF-8";

@keyframes blur-fade {
    from { filter: blur(0px); }
    to { filter: blur(10px); }
}

@-webkit-keyframes blur-fade {
    from { filter: blur(0px); }
    to { filter: blur(10px); }
}

.blur-fade-in {
    animation: blur-fade 4s 1;
    animation-delay: 0.25s;
    -webkit-animation: blur-fade 4s 1;
    -webkit-animation-delay: 0.25s;
}