@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    z-index: 99;
    position: fixed;
    width: 100%;

    overflow: hidden;
    background-color: #333;

    box-shadow: 0 0 17px 5px rgba(64, 64, 64, 0.5);
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    transition: all;
    transition-duration: 0.15s;
}

.topnav a:hover {
    background-color: #777;
    color: white !important;

    transition: all;
    transition-duration: 0.15s;
}

.active {
    background-color: #ddd;
    color: black !important;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: fixed;} /*before: relative*/
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.home-link {
    background: linear-gradient(to bottom right, #4a60ff, #41bae7);
    color: #fff;
}



/*
.topnav {
    z-index: 99;
    position: fixed;
    width: 100%;

    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}
*/