@charset "UTF-8";

* {
    font-family: "SF-Pro-Display-Regular", Arial, Helvetica, sans-serif;
    line-height: 1.6;
    letter-spacing: 0.2px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}


.contents {
    padding: 80px 16pt 16pt 16pt;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #fafafa;
}

@media screen and (min-width: 1025px){
    .contents {
        /* h-offset v-offset blur spread color */
        box-shadow: 0 0 80px 20px rgba(128, 128, 128, 0.7);
    }
}

h1 {
    padding-left: 0px;
    font-family: "SF-Pro-Display-Medium";
    font-size: 20pt;
    margin-bottom: 16pt;
}

h2 {
    padding-left: 25px;
    font-family: "SF-Pro-Display-Medium";
    font-size: 16pt;
    margin-top: 16pt;
    margin-bottom: 16pt;
}

h3 {
    padding-left: 50px;
    font-family: "SF-Pro-Display-Medium";
    font-size: 14pt;
    margin-bottom: 4pt;
}

p {
    padding-left: 0px;
    font-size: 14pt;
    margin-bottom: 16pt;
    text-align: justify;
}

.btn-access {
    margin-bottom: 16pt;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.footer {
    text-align: center;
    color: #999999;
    margin: 24pt auto;
}