@charset "UTF-8";

@font-face
{
    font-family: "San Francisco Regular";
    src: url('../../../assets/fonts/SF-Pro-Display-Regular.otf');
}


a {
    /* Remove automatic underline for links */
    text-decoration: none;
    color: #4a60ff;
}
a:hover,
a:focus {
    color: #2a3c99;
}

button {
    cursor: pointer;
}

.btn-access {
    /* Box */
    margin: 4pt 4pt 16pt 4pt;
    padding: 6pt 16pt;
    background-color: #4a60ff;
    border-color: transparent;
    border-radius: 50px;

    /* Text */
    color: #ffffff;
    font-size: 14pt;

    transition: all;
    transition-duration: 0.15s;
}

.btn-access:hover,
.btn-access:focus {
    background-color: #2a3c99;

    transition: all;
    transition-duration: 0.15s;
}

.btn-goback {
    /* Box */
    margin: 8pt 8pt;
    padding: 6pt 16pt;
    background-color: #4a60ff;
    border-color: transparent;
    border-radius: 50px;

    /* Text */
    color: #ffffff;
    font-size: 14pt;

    transition: all;
    transition-duration: 0.15s;
}

.btn-goback:hover,
.btn-goback:focus {
    background-color: #2a3c99;

    transition: all;
    transition-duration: 0.15s;
}

.disabled {
    cursor: not-allowed !important;
    background-color: #ccc !important;
    color: #f8f8f8 !important;
    pointer-events: none;
}