@charset "UTF-8";

@font-face
{
    font-family: "San Francisco Regular";
    src: url('../../../assets/fonts/SF-Pro-Display-Regular.otf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #485c9b;
}

a {
    /* Remove automatic underline for links */
    text-decoration: none;
}
