body {
    background-color: #dddddd;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assign {
    background-color: #ffffff;
    padding: 10px 20px;
    width: 600px;
    box-shadow: 0px 28px 60px 0px #888888;
    border-radius: 4px;
}

@media screen and (max-width:768px) {
    .assign {
        background-color: #ffffff;
        padding: 10px 20px;
        width: 100%;
        box-shadow: 0px 28px 60px 0px #888888;
    }
}

.console {
    background-color: #eeeeee;
    font-size: 11pt;
    font-family: "Lucida Console", Monaco, monospace;
    height: 200px;
    overflow: scroll;
    padding: 5px;
    margin-bottom: 10px;
}

#connectionState {
    font-family: 'Arial';
    font-size: 9pt;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 5px 0px;
    display: inline-flex;
    transition-duration: 1s;
    transition: all;
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.waiting {
    background-color: #dd8202;
}

.ready {
    background-color: #459132;
}

input {
    color: #000000;;
    padding: 10px 5px;
    margin: 0px 0px;
    font-size: 12pt;
    font-family: 'Arial';
    width: 50%;
}

input::placeholder {
    color: #aaaaaa;
}

button {
    background-color: #005cbf;
    color: #ffffff;
    padding: 10px 20px;
    margin: 5px 0px;
    border-radius: 4px;
    font-size: 12pt;
    font-family: 'Arial';
    transition: all;
    transition-duration: 0.2s;
}

button:hover{
    opacity: 0.8;
    transition: all;
    transition-duration: 0.2s;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}